@font-face {
  font-family: 'iconfont';  /* project id 483625 */
  src: url('//at.alicdn.com/t/font_483625_0obgg6xtp6cg14i.eot');
  src: url('//at.alicdn.com/t/font_483625_0obgg6xtp6cg14i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_483625_0obgg6xtp6cg14i.woff') format('woff'),
  url('//at.alicdn.com/t/font_483625_0obgg6xtp6cg14i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_483625_0obgg6xtp6cg14i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e614"; }

.icon-lingsheng:before { content: "\e600"; }