.setting_account {
  padding: 10px 20px;
  background: #ffffff;
  .title {
    margin-bottom: 20px;
  }
  .save {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #169BD5;
    color: #ffffff;
  }
}
.setting_password {
  padding: 10px 20px;
  background: #ffffff;
  .title {
    margin-bottom: 20px;
  }
  .save {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #169BD5;
    color: #ffffff;
  }
}