.TradeOverview {
  background: #ffffff;
  .Overview {
    padding: 10px 20px;
    .price {
      color: #f60;
      font-size: 22px;
      padding: 16px;
    }
  }
}
.tradeList_view {
  background: #ffffff;
  .list {
    padding: 10px 20px;
  }
}