.agreement_view {
  background: #ffffff;
  padding: 1rem 1.5rem;
  .title {
    font-size: 1.6rem;
    height: 3rem;
    line-height: 3rem;
    color: #333333;
    margin: 0rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #333333;
    text-indent: 3rem;
    margin: 0rem;
    margin-bottom: 1.5rem;
  }
  .sub {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #666666;
  }
}